footer.footer
    .container
        .row
            .col-3.footer-text
                h3 Thông tin chung
                p
                    strong.text-color VNB Sports
                    | là hệ thống cửa hàng cầu lông với hơn 50 chi nhánh trên toàn quốc, cung cấp sỉ và lẻ các mặt hàng dụng cụ cầu lông từ phong trào tới chuyên nghiệp
                p
                    strong.text-color Với sứ mệnh:
                    | : &quot;VNB cam kết mang đến những sản phẩm, dịch vụ chất lượng tốt nhất phục vụ cho người chơi thể thao để nâng cao sức khỏe của chính mình.&quot;
                p
                    strong.text-color Tầm nhìn:
                    | &quot;Trở thành nhà phân phối và sản xuất thể thao lớn nhất Việt Nam&quot;
            .col-3.footer-text
                h3 Thông tin liên hệ
                p Hệ thống cửa hàng: 5 shop Premium và 64 cửa hàng trên toàn quốc
                a.text-color(href="#") Xem tất cả các cửa hàng VNB
                p Hotline: 
                    a.text-color(href="#") 0333573303
                p Email: 
                    a.text-color(href="#") info@shopvnb.com
                p Hợp tác kinh doanh: 
                    a.text-color(href="#") 0333573303
                p Hotline bán sỉ: 
                    a.text-color(href="#") 0333573303
                p Nhượng quyền thương hiệu: 
                    a.text-color(href="#") 0333573303
                p Than phiền dịch vụ: 
                    a.text-color(href="#") 0333573303
            .col-3.footer-text
                h3 Chính sách
                ul
                    li
                        a(href="#") Chính sách đổi trả, hoàn tiền
                    li
                        a(href="#") Chính sách bảo hành
                    li
                        a(href="#") Chính sách xử lý khiếu nại
                    li
                        a(href="#") Chính sách vận chuyển
                    li
                        a(href="#") Điều khoản sử dụng
                    li
                        a(href="#") Chính sách bảo mật thông tin
                    li
                        a(href="#") Chính sách nhượng quyền
            .col-3.footer-text
                h3 Hướng dẫn
                ul
                    li
                        a(href="#") Tìm hiểu công việc tập huấn tennis trước khi tổ chức giải đấu
                    li
                        a(href="#") Bảng size Lining - Cách chọn size quần áo lining, giày cầu lông Lining
                    li
                        a(href="#") Hướng dẫn cách tập tennis cho người mới chơi
                    li
                        a(href="#") Hướng dẫn cách chọn vợt cầu lông cho người mới chơi
                    li
                        a(href="#") Hướng dẫn thanh toán
                    li
                        a(href="#") Kiểm tra bảo hành
                    li
                        a(href="#") Kiểm tra đơn hàng
                    li
                        a(href="#") Hướng dẫn mua hàng
