@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --main-color: #e95211;
    --text-color: #231f20;
    --white-color: #ffffff;
    --red-color: #e8002d;
    --yellow-color: #ffb916;
    --gray-color: #646464;
    --black-color: #222222;
    --body-color: #f4f4f4;
}

body {
    width: 100%;
    background-color: #fff;
    font-family: "Be Vietnam Pro", sans-serif;
    font-size: 16px;
    font-weight: 500;
}

.header {
    width: 100%;
    height: 140px;
    position: relative;
}

/* header top */
.header-top {
    width: 100%;
    height: 90px;
    display: flex;
    align-items: center;
}

.header-top-sub {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* logo */
.logo {
    width: 100px;
    height: 60px;
}

.logo img {
    width: 100%;
    height: 100%;
}

/* hotline */
.hotline p {
    line-height: 70px;
    margin: 0;
    color: var(--text-color);
    font-weight: 600;
}

.hotline i {
    font-size: 18px;
    color: var(--main-color);
}

.hotline p span {
    color: var(--red-color);
}

/* tìm kiếm */
.form-search {
    width: 430px;
    height: 45px;
    /* border: 1px solid black; */
    position: relative;
}

.form-search input {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    padding: 5px;
    font-size: 14px;
    border: 1px solid var(--main-color);
    outline: none;
}

.form-search button {
    position: absolute;
    height: 100%;
    width: 45px;
    /* padding: 6px 10px; */
    top: 0px;
    right: 0px;
    border-radius: 0 10px 10px 0;
    background: #e95211;
    border: none;
    color: var(--white-color);
}

/* box hea */
.box-hea {
    width: 70px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.box-hea:hover .box-hea-sub {
    display: block;
}

.box-hea a {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-decoration: none;
    font-size: 14px;
    color: var(--text-color);
}

.box-hea a:hover {
    color: var(--main-color);
}

.box-hea .box-icon {
    font-size: 16px;
    color: var(--main-color);
    border: 1px solid #dddddd;
    padding: 4px 8px;
    border-radius: 50%;
}

.box-hea .item-title {
    margin-top: 2px;
}

.button-consult button {
    /* padding: 10px 10px; */
    border-radius: 45px;
    background: linear-gradient(30deg, #f57f20, #d62b08 100%);
    border: none;
    color: var(--white-color);
    font-size: 14px;
    font-weight: 600;
    padding: 5px 10px;
    width: 120px;
    height: 45px;
}

.box-hea-sub {
    position: absolute;
    padding: 0;
    top: 75px;
    /* left: 200px; */
    list-style: none;
    width: 180px;
    height: 75px;
    border-radius: 10px;
    background: var(--white-color);
    display: none;
    box-shadow: 0 0 5px rgb(35, 31, 32, 0.5);
}
.minicart{
    position: absolute;
    top: 10px;
    margin-left: 23px;
    background: var(--main-color);
    color: #fff;
    font-size: 10px;
    padding: 2px 5px;
    border-radius: 50%;
}
/* .box-hea-sub li{
    display: flex;
} */
.box-hea-sub li a {
    /* margin-top: 10px; */
    display: block;
    text-align: center;
    padding: 8px 5px;
    font-size: 14px;
}

.box-hea-sub li a:hover {
    background: var(--main-color);
    border-radius: 10px;
    color: var(--white-color);
}

.box-hea-sub li a i {
    margin-right: 3px;
}

/* end header top */

/* main header */
.main-header {
    background-color: var(--main-color);
}

.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    height: 50px;
}

.menu li a {
    text-decoration: none;
    text-transform: uppercase;
    color: #ffffff;
    font-size: 14px;
    font-weight: 500;
    padding: 18px 24px;
}

.menu li a:hover {
    background: rgb(255, 255, 255, 0.1);
    color: #ffffff;
}
.menu li:hover .box-sub-menu{
    display: block;
}
.box-sub-menu{
    width: 100%;
    height: 500px;
    position: absolute;
    background-color: #fff;
    margin-top: 15px;
    left: 0;
    right: 0;
    display: none;
    overflow: scroll;
    overflow-x: hidden;
    box-shadow: 0 0 10px rgb(0, 0, 0, 0.3);
    z-index: 1000;
}

.sub-menu-head{
    min-height: 300px;
    margin: 0 10px;
    margin-top: 5px;
    list-style: none;
    padding: 0 10px ;
}
.sub-menu-head hr{
    margin: 4px 0;
}
.sub-menu-head li{
    margin: 5px 0;
}
.sub-menu-head li a{
    padding: 0;
    margin: 0;
    color: #000;
    text-transform: lowercase;
}
.sub-menu-head li a:hover{
    color: var(--main-color);
    background: none;
}
.sub-menu-head h3{
    padding: 0;
    margin: 0;
}
.sub-menu-head h3 a{
    padding: 10px 0;
    margin: 0;
    color: var(--main-color);
    font-size: 14px;
    display: block;
}
.sub-menu-head h3 a:hover{
    color: var(--main-color);
    background: none;
}
/* end main header */

.body{
    height: 100vh;
}
/* footer */
.footer {
    width: 100%;
    height: 450px;
    background: var(--black-color);
}

.footer-text {
    color: #fff;
}

.footer-text h3 {
    font-size: 20px;
    margin: 15px 0;
    text-transform: uppercase;
    font-weight: 600;
}

.footer-text a {
    text-decoration: none;
    font-size: 14px;
}

.footer-text ul li a {
    color: #fff;
}

.footer-text ul li a:hover {
    color: var(--main-color);
}

.text-color {
    color: var(--main-color);
}

/* sản phẩm */

/* sản phẩm */
.collection-product {
    width: 1045px;
    min-height: 500px;
    margin-top: 40px;
}

.collection-product h1 {
    width: 100%;
    height: 50px;
    font-size: 20px;
    text-transform: uppercase;
    line-height: 50px;
    margin: 0px 10px;
}

.list-product-title {
    width: 410px;
    height: 40px;
}

.list-product-title a {
    height: 40px;
    background: #dedede;
    padding: 10px 30px;
    text-decoration: none;
    color: #000;
    border-radius: 5px;
}

/* class css dùng chung cho mọi sản phẩm */

.item-product {
    width: 250px;
    height: 390px;
    position: relative;
    overflow: hidden;
    box-shadow: 0 0 5px #b5bdc7;
    margin-top: 15px;
    border-radius: 5px;
}
.item-product:hover{
    box-shadow: 0 0 10px rgb(220, 53, 69, 0.5);
}
.item-product .product-title {
    margin: 5px;
}
.item-product h3{
    line-height: 15px;
}
.item-product .product-title a {
    font-size: 16px;
    color: #000;
    text-decoration: none;
}

.item-product .product-title a:hover{
    color: var(--main-color);
}
.item-product img {
    width: 100%;
    height: 220px;
}

.item-product .star {
    margin: 5px;
    display: block;
    color: #f69329;
}

.item-product .promotion-price {
    color: #dc3545;
    margin: 5px;
}

.item-product .price {
    margin: 5px 20px;
    color: #8a8a8a;
}

.item-product .label-promotion {
    position: absolute;
    top: 5px;
    right: 5px;
    padding: 5px 5px;
    background: #2b9945;
    font-size: 11px;
    z-index: 1;
    border-radius: 5px;
    color: #ffffff;
    /* margin: 0; */
}

/* button hành động */

.item-product .action-product {
    width: 100%;
    height: 30px;
    position: absolute;
    top: -50px;
    transition: all 0.3s ease-in-out;
}

.item-product .action-product button {
    width: 35px;
    height: 100%;
    cursor: pointer;
    background: #2b9945;
    color: #ffffff;
    border-radius: 6px;
    border: none;
    margin: 0 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.item-product .action-product button a {
    color: #ffffff;
    padding: 3px 6px;
    text-decoration: none;
}

.item-product .action-product button:hover {
    background: #f04c28;
}

.item-product:hover .action-product {
    top: 135px;
}

/*  */
.display-flex {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.button-action {
    position: relative;
}

.button-action:hover .action-title {
    display: block;
}

.action-title {
    background-color: #000;
    position: absolute;
    bottom: 20px;
    left: -30px;
    width: 100px;
    height: 30px;
    display: none;
    text-align: center;
    font-size: 14px;
    line-height: 30px;
    color: #ffffff;
    border-radius: 10px;
}


/* Đăng ký đăng nhập */
.login-form-list {
    min-height: 400px;
    margin: 100px auto;
}

.tab {
    text-align: center;
    margin: 20px 0;
}

.tab a {
    cursor: pointer;
    color: #0D6EFD;
}
.tab a:hover{
    color: var(--main-color);
}

.form {
    width: 500px;
    min-height: 400px;
    padding: 32px 24px;
    text-align: center;
    border-radius: 20px;
    margin: 24px;
    align-self: center;
    border: 1px solid black;
    box-shadow: 0 0 10px rgb(255, 255, 255, 0.3);
    margin: 0 auto;
}

.form p {
    font-size: 16px;
    color: #000000;
    margin: 10px;
}

.form .heading {
    font-size: 30px;
    color: #000000;
    margin-bottom: 30px;
}

.form .desc {
    text-align: center;
    color: #636d77;
    font-size: 1.6rem;
    font-weight: lighter;
    line-height: 2.4rem;
    margin-top: 16px;
    font-weight: 300;
}

.form-group {
    display: flex;
    margin-bottom: 16px;
    flex-direction: column;
    position: relative;
}

.form-label,
.form-message {
    text-align: left;
}

.form-label {
    font-weight: 700;
    padding-bottom: 6px;
    line-height: 1.8rem;
    font-size: 1.4rem;
}

.form-control {
    height: 40px;
    padding: 8px 12px;
    border: 1px solid #b3b3b3;
    border-radius: 15px;
    outline: none;
    font-size: 15px;
}

.form-group label {
    position: absolute;
    right: 15px;
    top: 8px;
    color: #636d77;
}

.form-account a i {
    color: #ffffff;
    text-decoration: none;
    font-size: 20px;
    padding: 12px;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgb(255, 255, 255, 0.3);
    background-color: rgb(0, 0, 0, 0.7);
}

.form-control:hover {
    border-color: #1dbfaf;
}


.form-group .form-message {
    color: #f33a58;
}

.form-message {
    font-size: 16px;
    line-height: 1.6rem;
    padding: 4px 0 0;
}

.form-submit {
    outline: none;
    background-color: var(--main-color);
    margin-top: 12px;
    padding: 12px 16px;
    font-weight: 600;
    color: #fff;
    border: none;
    width: 100%;
    font-size: 16px;
    border-radius: 15px;
    cursor: pointer;
}

.form-submit:hover {
    background-color: rgb(232, 82, 17, 0.8);
}

.form-remember {
    display: flex;
    justify-content: space-evenly;
    margin: 10px;
}

.form-remember label {
    font-size: 16px;
    color: #000000;
    margin-right: 150px;
}

.form-remember input {
    margin-right: 7px;
    border: 1px solid black;
}

.form-remember a {
    font-size: 16px;
    color: #000000;
    text-decoration: none;
}
.form-remember a:hover{
    color: var(--main-color);
}
/* hết Đăng ký đăng nhập */

/* alert-message */
.alert-message {
    position: fixed;
    top: 60px;
    right: 20px;
    z-index: 9999;
}
/* hết alert-message */
