extends ../../layouts/default.pug
include ../../mixins/product-item.pug
block main
    .container
        h2 #{pageTitle}
        .row.my-5
            .col-2
                | ejfoidsoiu
            .col-10
                .collection-product
                    .list-product
                        h1 Tất cả sản phẩm
                        .justify-content-space-between
                            .list-product-title.justify-content-space-between
                                a(href="#") Tất cả
                                a(href="#") Nam
                                a(href="#") Nữ
                                a(href="#") Trẻ em
                    .collection-list-product
                        .row
                            each item in product
                                +product-item(item)