extends ../../layouts/default.pug
include ../../mixins/product-item.pug
block main
    .container.my-3
        h2 #{pageTitle}
        .row
            each item in product
                +product-item(item)