extends ../../layouts/default.pug
include ../../mixins/product-item.pug
block main 
    #carouselExampleAutoplaying.carousel.slide(data-bs-ride="carousel")
        .carousel-inner
            .carousel-item.active
                img.d-block.w-100(src="https://cdn.shopvnb.com/img/1920x640/uploads/slider/banner-sale-12_1695182579.webp" alt="...")
            .carousel-item
                img.d-block.w-100(src="https://cdn.shopvnb.com/img/1920x640/uploads/slider/astrox88-sd-key-visual-2880x1120-_1718650445.webp" alt="...")
            .carousel-item
                img.d-block.w-100(src="https://cdn.shopvnb.com/img/1920x640/uploads/slider/thiet-ke-chua-co-ten-12_1727137763.webp" alt="...")
        button.carousel-control-prev(type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev")
            span.carousel-control-prev-icon(aria-hidden="true")
            span.visually-hidden Previous
        button.carousel-control-next(type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next")
            span.carousel-control-next-icon(aria-hidden="true")
            span.visually-hidden Next
    .container
        //- sản phẩm mới
        .product-outstanding
            .product-outstanding-title
                a(href="#") Sản phẩm mới
            .list-product-outstanding
                each item in productNew
                    +product-item(item)
            .view-all
                a(href="")
                    i.fa-solid.fa-circle-chevron-right 
                    | Xem tất cả

        //- sản phẩm nổi bật
        .product-outstanding
            .product-outstanding-title
                a(href="#") Sản phẩm nổi bật
            .list-product-outstanding
                each item in productFeatured
                    +product-item(item)
            .view-all
                a(href="")
                    i.fa-solid.fa-circle-chevron-right 
                    | Xem tất cả
        //- sale off
        .flash-sale-baner
            .sale-off-title 
                h3 Sale off
                hr
            .row 
                .col-4
                    .list-banner-sale
                        img(src="https://golfcity.com.vn/wp-content/uploads/2023/04/banner-giay-1.gif" alt="ERROR")
                .col-4
                    .list-banner-sale
                        img(src="https://golfcity.com.vn/wp-content/uploads/2023/02/file-in1-556-%C3%97-191-px-1920-%C3%97-600-px-575-%C3%97-450-px-1000-%C3%97-639-px-2.gif" alt="ERROR")
                .col-4        
                    .list-banner-sale
                        img(src="https://golfcity.com.vn/wp-content/uploads/2023/02/file-in1-556-%C3%97-191-px-1920-%C3%97-600-px-575-%C3%97-450-px-1000-%C3%97-639-px-2.gif" alt="ERROR")
        //- danh mục sản phẩm
        each item in allCategory
            .box-category
                .sale-off-title
                    h3 Sản phẩm #{item.title}
                    hr
                .row
                    if item.children
                        each itemChild in item.children
                            .col-3
                                .category-item
                                    a(href="#")
                                    .category-img
                                        img(src=itemChild.thumbnail alt="error")
                                    .category-content
                                        h3 #{itemChild.title}


        //- đặc trưng
        .section-featured
            .featured-inner
                img(src="https://golfgroup.com.vn/wp-content/themes/ggc/images/icons/ghht.svg" alt="")
                p Giao hàng hỏa tốc
            .featured-inner
                img(src="https://golfgroup.com.vn/wp-content/themes/ggc/images/icons/bdtd.svg" alt="")
                p Bảo dưỡng trọn đời
            .featured-inner
                img(src="https://golfgroup.com.vn/wp-content/themes/ggc/images/icons/card.svg" alt="")
                p Thanh toán linh hoạt
            .featured-inner
                img(src="https://golfgroup.com.vn/wp-content/themes/ggc/images/icons/1vs1.svg" alt="")
                p Lỗi 1 đổi 1 tại nhà

        //- tin tức
        .news-box
            .sale-off-title
                h3 Tin tức
                hr
            .row
                .col-3
                    .news-item
                        .news-img
                            img(src="https://cdn.shopvnb.com/img/400x240/uploads/images/san-pickleball-viemin-town.jpg" alt="error")
                        .news-content
                            h3.title-item
                                a(href="#") Khám phá sân Pickleball Viemin Town chất lượng và
                            p.news-time 20-10-2002
                            p Sân Pickleball Viemin Town với không gian rộng rãi, thoáng mát, được biết đến . 
                .col-3
                    .news-item
                        .news-img
                            img(src="https://cdn.shopvnb.com/img/400x240/uploads/images/san-pickleball-viemin-town.jpg" alt="error")
                        .news-content
                            h3.title-item
                                a(href="#") Khám phá sân Pickleball Viemin Town chất lượng và
                            p.news-time 20-10-2002 - 22: 22
                            p Sân Pickleball Viemin Town với không gian rộng rãi, thoáng mát, được biết đến . 
                .col-3
                    .news-item
                        .news-img
                            img(src="https://cdn.shopvnb.com/img/400x240/uploads/images/san-pickleball-viemin-town.jpg" alt="error")
                        .news-content
                            h3.title-item
                                a(href="#") Khám phá sân Pickleball Viemin Town chất lượng và
                            p.news-time 20-10-2002
                            p Sân Pickleball Viemin Town với không gian rộng rãi, thoáng mát, được biết đến . 
                .col-3
                    .news-item
                        .news-img
                            img(src="https://cdn.shopvnb.com/img/400x240/uploads/images/san-pickleball-viemin-town.jpg" alt="error")
                        .news-content
                            h3.title-item
                                a(href="#") Khám phá sân Pickleball Viemin Town chất lượng và
                            p.news-time 20-10-2002
                            p Sân Pickleball Viemin Town với không gian rộng rãi, thoáng mát, được biết đến . 