extends ../../layouts/default.pug
block main 
    .main
        .card-box
            .row
                .col-3
                    .card
                        .data-card
                            .number-card 1,504
                            .card-name Daily Views
                        .icon-card xxx
                .col-3
                    .card
                        .data-card
                            .number-card 1,504
                            .card-name Daily Views
                        .icon-card xxx
                .col-3
                    .card
                        .data-card
                            .number-card 1,504
                            .card-name Daily Views
                        .icon-card xxx
                .col-3
                    .card
                        .data-card
                            .number-card 1,504
                            .card-name Daily Views
                        .icon-card xxx