header.header
    .toggle
        i.fa-solid.fa-bars
    .user
        a(
            href=`/${prefixAdmin}/accounts/my-profile`
            class="btn btn-info btn-sm mr-2"
        ) #{user.fullName}