

.navigation
    ul
        li
            a(href="#")
                span.icon
                    i.fa-solid.fa-house
                span.title Trang thùng rác
        li
            a(href=`/${prefixAdmin}/dashboard`)
                span.icon 
                    i.bi.bi-clipboard-data
                span.title Danh mục sản phẩm
        li
            a(href=`/${prefixAdmin}/products`)
                span.icon xxx
                span.title Sản phẩm
        li
            a(href=`/${prefixAdmin}/trash`)
                span.icon 
                    i.bi.bi-trash-fill
                span.title Thùng rác
        li
            a(href="#")
                span.icon xxx
                span.title Brand Name